body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #161618;
  font-family: Helvetica;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title, .subtext, .qr {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title {
    flex: 2;
    font-size: 7vh;
    font-weight: bold;
}

.subtext {
    flex: 1;
    font-size: 5vh;
}

.qr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 8;
}

.qr-code {
    height: 55vh;
    width: 55vh;
    background-color: white;
}

.qr-code-img {
  height: 100%;
  width: 100%;
}

.bitly {
  font-size: 3vh;
}

.link {
  text-decoration:underline;
  font-weight: bold;
}
.button {
    flex: 1;
}

.start-button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(139, 0, 0);;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: transform .2s;
    cursor: pointer;
}

.start-button:hover {
    transform: scale(1.1);
    color: #161618;
    background-color: #f3f3f3;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(139, 0, 0);;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .spotlight-left {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    
  }

  .spotlight-right {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
  }
  
  .spotlight {
    height: 100%;
  }

  .right {
    transform: scaleX(-1);
    transform-origin: center;
  }
